#wrapper {
    padding: 10px;
}

#wrapper > div {
    display: flex;
    justify-content: center;
}

div:nth-child(1) {
    margin-top: 50px;
    font-size: 7vw;
}

#inputFields {
    margin: 25px 0;
    display: flex;
    flex-direction: column;
}

label {
    color: #D2F898;
    font-weight: bold;
}

.noType {
    width: 4px;
    transition: width, 1s;
}

input {
    margin-bottom: 25px;
    background-color: #00000000;
    border: none;
    border-bottom: 1px solid #D2F898;
    outline: none;
    font-size: 4vw;
    padding: 7px;
    transition: width, 1s;
}

input:focus {
    background-color: #00000024;
    transition: background-color, .5s;
}

button {
    margin: 25px 0;
    width: 100%;
    color: #D2F898;
    background-color: #00000000;
    border: 0;
    border: 1px solid #D2F898;
    border-bottom: 2px solid #D2F898;
    border-radius: 5px;
}

button:hover {
    background-color: #00000024;
    transition-property: background-color, .5s;
    cursor: pointer;
}
