#notification {
    background-color: #d2f8983a;
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;

    display: flex;
    align-items: center;
    justify-content: center;
}

#notification div {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    background-color: #00000096;
    padding: 50px;
    border-radius: 10px;
    border: 1px solid #D2F898;
    border-bottom: 2px solid #D2F898;

    width: 85%;
}

#notification button {
    margin: 25px 0;
    width: 100%;
    color: #D2F898;
    background-color: #00000000;
    border: 0;
    border: 1px solid #D2F898;
    border-bottom: 2px solid #D2F898;
    border-radius: 5px;
}

#notification button:hover {
    background-color: #00000024;
    transition-property: background-color, .5s;
    cursor: pointer;
}
