/* colorpallete for the website

#FCFCFC - white
#D2F898 - lightgreen
#F6F930 - yellow
#2F2F2F - jetGray
#000000 - black

*/

@font-face {
    font-family: Roboto;
    src: url("../fonts/RobotoCondensed-Regular.ttf");
}

* {
    box-sizing: border-box;
    padding: 5px;

    font-family: 'Roboto';
    color: #fcfcfc;
}

body {
    background-color: #2f2f2f;
    transition: background-color, .5s;

    display: grid;
    grid-template-columns: 100%;

}

header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-size: 5vw;
}

#dogIconTop {
    height: 15vw;
    width: 15vw;
    background-size: cover;
    background-position: center;
}

#wrapper {
    margin-bottom: 50px;
}
